# Implementasi algoritma A* untuk menentukan rute ke Bucharest

Faturahman Yudanto - 2022-10-11

Pada notebook ini akan diimplementasikan algoritma A* untuk menentukan rute dari kota-kota yang ada di Romania ke Bucharest. Daftar kota beserta jarak antar kotanya disimpan dalam file "romania_city.csv" yang sebelumnya merupakan graf hubungan antara kota yang ada di Romania.

## Memuat tabel daftar kota

Tabel daftar kota dimuat dengan bantuan library pandas

In [44]:
import pandas as pd

df_romania = pd.read_csv('romania_city.csv')
df_romania.head()

  city_start   city_end  distance  distance_end_from_bucharest
0     zerind       arad        75                          366
1  timisoara       arad       118                          366
2      sibiu       arad       140                          366
3   urcizeni  bucharest        85                            0
4    pitesti  bucharest       101                            0

Pada tabel tersebut terdapat 4 kolom yakni 

- city_start → kota asal
- city_end → kota tujuan
- distance → jarak dari kota asal ke tujuan
- distance_end_from_bucharest → jarak dari kota tujuan ke Bucharest

## Implementasi algoritma A*

Implementasi algoritma A* dituliskan pada fungsi `to_bucharest` di bawah. Terdapat beberapa langkah yang dilakukan yakni
- Inisiasi goal state, initial state, dan state saat itu
- Implementasi pencarian dengan menggunakan while loop
- Pencarian kota tujuan selanjutnya dengan syarat kota tersebut memiliki cost terkecil dan belum pernah dikunjungi sebelumnya
- Setelah kota tujuan selanjutnya ditemukan, set state saat ini menambahkan kota tujuan terpilih ke daftar kota yang pernah dikunjungi, set state kota saat ini ke kota tujuan, dan menambahkan nilai cost dengan nilai cost yang telah dihitung.
- Ulangi langkah terebut hingga kota terakhir yang dikunjungi adalah kota tujuan

In [50]:
def to_bucharest(start):
    # menentukan state awal dan goal state
    destination = "bucharest"
    visited_city = [start]
    current_city = start
    cost = 0

    # inisiasi pencarian
    while destination != visited_city[-1]:
        min_cost = 9999 + cost

        # memilih kandidat kota tujuan selanjutnya
        df_next_city = df_romania[df_romania['city_start'] == current_city]

        # pencarian kota tujuan yang memiliki nilai cost yang minimum
        for item in df_next_city.values:
            curr_cost = item[2] + item[3] + cost
            if item[1] not in visited_city:
                if curr_cost < min_cost:
                    min_cost = curr_cost
                    curr_city = item[1]

        # update state saat ini
        current_city = curr_city
        cost += min_cost
        visited_city.append(current_city)

    return visited_city, cost

luaran fungsi di atas adalah daftar kota yang telah dikunjungi dan jumlah cost-nya

## Implementasi

Di bawah ini merupakan contoh implementasi dari fungsi algoritma A* di atas untuk menentukan rute dari suatu kota ke Kota Bucharest

In [61]:
start = "arad"
visited_city, cost = to_bucharest(start)
print(f"start = {start}")
print("Rute : ")
print(" -> ".join(visited_city))
print(f"Total cost :")
print(cost)

start = arad
Rute :
arad -> sibiu -> rimnicu vilcea -> pitesti -> bucharest
Total cost :
4727

In [62]:
start = "neamt"
visited_city, cost = to_bucharest(start)
print(f"start = {start}")
print("Rute : ")
print(" -> ".join(visited_city))
print(f"Total cost :")
print(cost)

start = neamt
Rute :
neamt -> iasi -> vaslui -> urcizeni -> bucharest
Total cost :
4197